<!DOCTYPE html>
<html>
<title>
    RAWR
    {% load static %}
    <link rel="stylesheet" href="{% static 'shapes/style.css' %}">
</title>
<body>
    <h1>
        Shapes
    </h1>
    <div class="mb-3">
        <label \ class="form-label">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

    {% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>
</html>